* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-select-dropdown {
  padding: 0;

  background-color: #313131;
  border-radius: unset;
}

.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent;
}

.ant-select-dropdown .ant-select-item {
  min-height: auto;
  padding: 0;

  color: #FFFFFF;

  border-radius: unset;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  
  font-weight: normal;
  color: #FFFFFF;

  background-color: #217346;
}
